/* reset.css is included */
body {
	margin: 10px;
	padding: 0;
	width: 960px;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
	margin-left: 100px;
	margin-right: 100px;
}

/* adjust letters to the center of the height in the boxes */
h1 {
	padding-top: 31px;
}

h2 {
	padding-top: 20px;
}

h3 {
	padding-top: 15px;
}
p {
	padding-top: 12px;
}

header, nav, footer {
	height: 80px;
	margin-bottom: 5px;
	background-color: #ebebeb;
}

section#main {
	height: 260px;
	width: 56%;
	margin-top: 19px;
	margin-bottom: 19px;
	margin-right: 4%;
	background-color: #ebebeb;
	float: left;
}

	article {
		background-color: #777;
		height: 175px;
		margin:15px;
		margin-top:30px;
	}	

		#header {
			color: #ebebeb;
			height: 55px;
			margin: 0;
			background-color: #777;
		}
		.article-section {
			height: 50px;
			margin-bottom: 8px;
			margin-left: 2%;
			margin-right: 2%;
			background-color: #ebebeb;
		}

aside {
	height: 260px;
	width: 40%;
	margin-top: 19px;
	margin-bottom: 19px;	
	background-color: #ebebeb;
	float: left;
}
/* for footer */
.clear {
	clear: left;
}